<app-header-menu [title]="'Profile'"></app-header-menu>

<ion-content>

            <!-- <ion-item id="rounded">
            <ion-input name="name" [(ngModel)]="user['fullName']" required placeholder="Nombre"></ion-input>
          </ion-item> -->

          <!-- <ion-label class="ion-margin-top">
            <p class="ion-no-margin">Fecha de cumpleaños</p>
          </ion-label>
          <ion-item id="rounded" (click)="popoverDate.present()">
            <ion-input [value]="hInn" placeholder="Hora de inicio de Jornada"></ion-input>
            <ion-button slot="end" fill="clear" id="open-time-input-1">
              <ion-icon name="time" class="text-green"></ion-icon>
            </ion-button>
            <ion-popover showBackdrop="true" #popoverDate trigger="open-time-input-1" show-backdrop="false">
              <ng-template>
                <ion-datetime
                  #dateTime1
                  presentation="date"
                  size="cover"
                  (ionChange)="hInn = formatTime(dateTime1.value)"
                >
                  <ion-buttons slot="buttons">
                    <ion-button (click)="confirm(dateTime1, popoverDate)">Seleccionar</ion-button>
                    <ion-button (click)="reset(dateTime1)">Borrar</ion-button>
                  </ion-buttons>
                </ion-datetime>
              </ng-template>
            </ion-popover> 
          </ion-item> -->
          
</ion-content>
