agm-map {
    height: 80%;
}

ion-grid {
    ion-col {
        height: 80vh;
        @media (min-width: 992px){
            height: 100vh;
        }
    }
}

ion-label {
    overflow: unset !important;
}

.eye:hover {
    cursor: pointer;
}

.eye:active {
    opacity: 0.6;
}
